<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      <form action="/upload" method="post">
     
        <input type="file" class="ui button fluid" value="上传" name="files">
        <input type="submit" class="ui button fluid" value="上传">   
      </form>
  </body>
  <script type="text/javascript">


  </script>
</html>
